--
-- PostgreSQL database dump
--

\restrict ClH6Vq2z8mQhjpifoWJ3cTXCDNa3GCRRAmXytLcgwg1kyFbAjfOX37JWxGkv0YG

-- Dumped from database version 17.11 (Debian 17.11-1.pgdg13+2)
-- Dumped by pg_dump version 17.11 (Debian 17.11-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: security_alerts; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.security_alerts (
    alert_id uuid NOT NULL,
    source_event_id uuid NOT NULL,
    rule_id character varying(128) NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    risk_score smallint NOT NULL,
    severity character varying(32) NOT NULL,
    host_id character varying(255) NOT NULL,
    process_id bigint,
    action character varying(32) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.security_alerts OWNER TO sentinel;

--
-- Data for Name: security_alerts; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.security_alerts (alert_id, source_event_id, rule_id, title, description, risk_score, severity, host_id, process_id, action, created_at) FROM stdin;
\.


--
-- Name: security_alerts security_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.security_alerts
    ADD CONSTRAINT security_alerts_pkey PRIMARY KEY (alert_id);


--
-- Name: idx_security_alerts_created_at; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX idx_security_alerts_created_at ON public.security_alerts USING btree (created_at DESC);


--
-- Name: idx_security_alerts_host_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX idx_security_alerts_host_id ON public.security_alerts USING btree (host_id);


--
-- Name: idx_security_alerts_severity; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX idx_security_alerts_severity ON public.security_alerts USING btree (severity);


--
-- PostgreSQL database dump complete
--

\unrestrict ClH6Vq2z8mQhjpifoWJ3cTXCDNa3GCRRAmXytLcgwg1kyFbAjfOX37JWxGkv0YG

